<!DOCTYPE>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/results" method="post">
		Your Name: <input type='text' name='name'><br><br>
		Dojo Location: 
		<select type='text' name='location'><br>
			<option>Burbank</option>
			<option>Bay Area</option>
			<option>San Diego</option>
			<option>Dallas</option>
		</select><br><br>
		Favorite Language: 
		<select type='text' name='language'><br>
  				<option>Python</option>
  				<option>Java</option>
  				<option>Mean</option>
  				<option>Ruby</option>
		</select><br><br>
		Comments (optional): <br><textarea type='text' name='comments'></textarea><br><br>
		<input type='submit' value='Submit'>
	</form>
</body>
</html>